<!DOCTYPE html>
<html>
<head>
<title>wordcount</title>
<style>
body{
    margin:0;
    padding:0;
    text-content:flex;
    background-color:black;
}
h1{
    text-align:center;
    font-weight:100px;
    color:yellow;

}
a:hover{color:yellow;
text-decoration:none!important;
}
p{font-weight:70px;}
.container{
   text-align:center;
}
button1:hover{
color:yellow;
}
</style>
</head>
<body>
<div class="container">
<h1>Write the paragraph here</h1>
<p><a href="{% url 'about'%}">About</a></p>
<form action="{% url 'result'%}">
<textarea cols="40" rows="10" name="textarea"></textarea>
<br>
<div class="button1">
<input type="submit" value="count"/>
</div>
</div>
</body>
</html>